# ============================================
# SISTEMA / IDE
# ============================================
.DS_Store
Thumbs.db
.idea/
.vscode/

# ============================================
# PHP / LUMEN / LARAVEL
# ============================================
vendor/

# Cache e logs do Laravel/Lumen
bootstrap/cache/*.php
storage/*.log
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/

# ============================================
# NODE
# ============================================
node_modules/

# ============================================
# PYTHON
# ============================================

# Virtual environments
venv/
.env/
*.env

# Compilados Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporários
*.log
*.sqlite3
*.db

# Build e distribuições
build/
dist/
*.egg-info/
.eggs/

# Cache de ferramentas
.pytest_cache/
.cache/
.mypy_cache/
.python-version

# Jupyter / Colab
.ipynb_checkpoints/

# ============================================
# DOCKER
# ============================================
volumes/
db_data/
docker-data/
*.pid

# ============================================
# SISTEMAS OPERACIONAIS
# ============================================
ehthumbs.db
